.pk-container {
    width: 100%;
    height: 100dvh;
    background-color: #080808;
    padding: 32px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.pk-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pk-header-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.pk-header-description {
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 100%;
}

.pk-download {
    width: 180px;
    height: 35px;
    border-radius: 18px;
    border: 1px solid #FFF;
    backdrop-filter: blur(2px);
    color: #FFF;
    overflow: hidden;
    font-weight: 500;
}

.left {
    background-image: linear-gradient(to right, #FFA800, #FF434E);
    display: flex;
    width: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    min-width: 120px
}

.right {
    width: 40%;
    background-image: linear-gradient(to right, #AA00FF, #2557FE);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
    min-width: 120px
}