@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.download-full {
  position: absolute;
  justify-content: flex-end;
  padding-bottom: 40px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.65));
  left: 0;
  right: 0;
  bottom: 0;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-full p {
  margin: 0 auto;
  color: white;
  font-size: 12px;
  margin-top: 6px;
}

.download-full p a {
  color: #4088fa;
  font-weight: bold;
}